#hermanosSanosField{
    display: none;
}
#enfermedadTipoField{
    display: none;
}
#deporteMalestarField{
    display: none;
}
#drogaAlergiaTipoField{
    display: none;
}
#fiebreMedicacionField{
    display: none;
}
#diabetesControlField{
    display: none;
}
#cardiacoTipoField{
    display: none;
}
#aspirinaFrecuenciaField{
    display: none;
}
#chagasTratamientoField{
    display: none;
}
#hepatitisTipoField{
    display: none;
}
#hepaticoTipoField{
    display: none;
}
#epilepticoMedicacionField{
    display: none;
}
#infectoField{
    display: none;
}
#operadoField{
    display: none;
}