@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
.isologotipo{
    width: 30%;
    min-width: 50px;
    max-width: 70px;
}
.isologoTexto{
    font-size: 1.15rem;
    font-weight: 600;
}
aside{
    height: 100vh;
    background-color: #0E3A81;
}
.carousel-item img{
    height: 300px;
}