<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{Layout/layout :: head}">
</head>

<body>

  <header th:replace="~{Layout/layout :: header}"></header>
  <section class="main-container col-11 col-sm-10 col-md-11 col-lg-11 col-xl-11" >
    <div class="form-container">
      <h3 class="text-center p-4" th:text="${titulo}"></h3>
      <div class="tabs nav nav-tabs">
        <div class="tab active nav-link active" data-tab="personal">Datos Personales</div>
        <div class="tab nav-link" data-tab="personal+">Domicilio</div>
        <div class="tab nav-link" data-tab="contact">Odontograma</div>
      </div>
      <form th:action="@{/paciente/guardar}" th:object="${paciente}" method="post">
        <div class="tab-content active" id="personal">
          <div class="row">
          <div class="form-group row mb-3 col">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre: </label>
            <div class="col-xl-10 col-md-12">
              <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
            </div>
          </div>
          <div class="form-group row mb-3 col">
            <label for="apellido" class="col-sm-2 col-form-label">Apellido: </label>
            <div class="col-xl-10 col-md-12">
              <input type="text" class="form-control" id="apellido" th:field="*{apellido}">
            </div>
          </div>
          </div>
          <div class="row">
          <div class="form-group row mb-3 col">
            <label for="nacionalidad" class="col-sm-2 col-form-label">Nacionalidad: </label>
            <div class="col-xl-10 col-md-12">
              <select id="nacionalidad" name="nacionalidad">
                <option th:each="nacionalidad : ${listaNacionalidad}" th:value="${nacionalidad}"
                  th:text="${nacionalidad}">
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3 col">
            <label for="telefono" class="col-sm-2 col-form-label">N° Telefono: </label>
            <div class="col-xl-10 col-md-12">
              <input type="number" class="form-control" id="telefono" placeholder="3885872108" th:field="*{telefono}">
            </div>
          </div>
          </div>
          <div class="row">
          <div class="form-group row mb-3 col">
            <label for="fechaNacimiento" class="col-sm-2 col-form-label">Fecha Nacimiento: </label>
            <div class="col-xl-10 col-md-12">
              <input type="date" class="form-control" id="fechaNacimiento" max="100" th:field="*{fechaNacimiento}">
            </div>
          </div>
          <div class="form-group row mb-3 col">
            <label for="dni" class="col-sm-2 col-form-label">DNI: </label>
            <div class="col-xl-10 col-md-12">
              <input type="number" class="form-control" id="dni" th:field="*{dni}">
            </div>
          </div>
          </div>
        </div>
        <div class="tab-content" id="personal+">
          <div class="row">
          <div class="form-group row mb-3 col">
            <label for="calle" class="col-sm-2 col-form-label">Calle: </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="calle" th:field="*{domicilio.calle}">
            </div>
          </div>
          <div class="form-group row mb-3 col">
            <label for="nroCalle" class="col-sm-2 col-form-label">nroCalle: </label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="nroCalle" th:field="*{domicilio.nroCalle}">
            </div>
          </div>
         </div>
         <div class="row">
          <div class="form-group row mb-3 col">
            <label for="barrio" class="col-sm-2 col-form-label">barrio: </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="barrio" th:field="*{domicilio.barrio}">
            </div>
          </div>
            <div class="form-group row mb-3 col">
              <label for="localidad" class="col-sm-2 col-form-label">Localidad: </label>
              <div class="col-xl-10 col-md-12">
                <select id="localidad" name="localidad" th:field="*{domicilio.localidad}">
                  <option th:each="localidad : ${listaLocalidad}" th:value="${localidad}" th:text="${localidad}" >
                  </option>
                </select>
              </div>
          </div>
        </div>
        </div>
        <div class="tab-content" id="contact">
          <div class="form-group row mb-3">
            <!-- <label for="prueba1" class="col-sm-2 col-form-label">acá va el Odontograma: </label> -->
            <div class="col-sm-10">
              <!-- odonto -->
              <div class="contenedorCanvas" id="contenedorCanvas">
                <div class="grupoCanvas1" id="grupo1">
                    <canvas id="canvas"></canvas>
                    <canvas id="canvas2"></canvas>
                    <canvas id="canvas3"></canvas>
                </div>
                <div class="grupoCanvas2" id="grupo2">
                    <canvas id="canvas4"></canvas>
                    <canvas id="canvas5"></canvas>
                    <canvas id="canvas6"></canvas>
                </div>
                <div class="opciones">
                    <form action="" class="formColores">
                        <div class="colores">
                            <input type="radio" name="color" id="inputColorRojo">
                            <label class="labelColor rojo" for="inputColorRojo">Rojo</label>
                            <input type="radio" name="color" id="inputColorAzul">
                            <label class="labelColor azul" for="inputColorAzul">Azul</label>
                        </div>
                    </form>
                </div>
            </div>

            </div>
          </div>
        </div>
        <div>
          <div class="text-center py-4">
            <input type="submit" id="guardar" th:value="${botonGuardar}" style="display: none;"
              class="btn btn-primary" />
          </div>
      </form>

    </div>


    <script>
      const tabs = document.querySelectorAll('.tab');
      const contents = document.querySelectorAll('.tab-content');
      const button = document.getElementById('guardar');

      tabs.forEach(tab => {
        tab.addEventListener('click', () => {
          // Desactivar todas las pestañas y contenidos
          tabs.forEach(t => t.classList.remove('active'));
          contents.forEach(c => c.classList.remove('active'));

          // Activar la pestaña y contenido actual
          tab.classList.add('active');
          document.getElementById(tab.dataset.tab).classList.add('active');

          // Mostrar u ocultar el botón según la pestaña activa
          if (tab.dataset.tab === 'contact') {
            button.style.display = 'block';
          } else {
            button.style.display = 'none';
          }
        });
      });
    </script>

  </section>
  <!-- <footer th:replace="~{Layout/layout :: footer}"></footer> -->
</body>

</html>