<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/layout :: head"></head>

<body>

    <header th:replace="Layout/layout :: header"></header>

    <div class="main-container">
    <div class="table-container p-4">

    <table class="table table-bordered table-striped">
       
        <thead>
            <tr>
                <td colspan="5" class="title-table text-center p-4" th:text="${titulo}">
                </td>
            </tr>
            <tr>
                <th>Nombre Apellido</th>
                <th>Edad</th>
                <th>Cel</th>
                <th>Fecha de Nacimiento</th>
                <th>Nacionalidad</th>
                <th>DNI</th>
            </tr>
        </thead>
        
        <tbody class="table-light">
            <tr>
                <td th:text="${pacientePorDni.nombreApellido}"></td>
                <td th:text="${edadCalculada}"></td>
                <td th:text="${pacientePorDni.nroTelefono}"></td>
                <td th:text="${pacientePorDni.fechaNacimiento}"></td>
                <td th:text="${pacientePorDni.nacionalidad}"></td>
                <td th:text="${pacientePorDni.dni}"></td>
            </tr>
        </tbody>

    </table>

</div>
</div>
<footer th:replace="~{Layout/layout :: footer}"></footer>
</body>
</html>