<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Layout/layout :: head"></head>

<body>

    <div class="container-fluid">
        <div class="row">
            <aside th:replace="~{Layout/layout :: aside}"></aside>



            <main class="infoPa col-md-10 col-9 text-center">
                <div class="table-container p-4">

                    <div class="row mb-4">
                        <div class="col text-center">
                            <h1 th:text="${titulo}" class="text-uppercase"></h1>
                        </div>
                        <div class="col text-end">
                            <!-- Botón para descargar PDF // LEO-->
                            <a class="btn btn-danger"
                                th:href="@{'/paciente/informacionPaciente/' + ${pacienteEncontrado.dni}(format=pdf)}">
                                Descargar PDF
                            </a>
                        </div>
                    </div>

                    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active bg-primary text-white" data-bs-toggle="tab" data-bs-target="#datosPersonales" type="button"
                            role="tab" aria-selected="true">Datos Personales</button>
                        <button class="nav-link bg-primary text-white" data-bs-toggle="tab" data-bs-target="#imagenes" type="button"
                            role="tab" aria-selected="false">Imágenes</button>
                        <button class="nav-link bg-primary text-white" data-bs-toggle="tab" data-bs-target="#informacionFamiliar" type="button"
                            role="tab" aria-selected="false">Información Familiar</button>
                        <button class="nav-link bg-primary text-white" data-bs-toggle="tab" data-bs-target="#saludPaciente" type="button"
                            role="tab" aria-selected="false">Salud del Paciente</button>
                        <button class="nav-link bg-primary text-white" data-bs-toggle="tab" data-bs-target="#tabOdontograma" type="button" role="tab"
                            aria-selected="false">Odontograma</button>
                    </nav>

                    <div class="tab-content">
                    <div class="tab-pane active" id="datosPersonales" role="tabpanel" tabindex="0">
                    <div class="card border border-primary">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <img class="img-thumbnail rounded" th:src="@{'/Recursos/' + ${pacienteEncontrado.imagen}}"
                                    alt="Foto del paciente">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Información del Paciente</h5>
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="table-dark">Nombre</th>
                                                <td th:text="${pacienteEncontrado.nombre}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-dark">Apellido</th>
                                                <td th:text="${pacienteEncontrado.apellido}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-dark">Edad</th>
                                                <td th:text="${edadCalculada}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-dark">Teléfono</th>
                                                <td th:text="${pacienteEncontrado.telefono}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-dark">Fecha de Nacimiento</th>
                                                <td th:text="${pacienteEncontrado.fechaNacimiento}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-dark">Nacionalidad</th>
                                                <td th:text="${pacienteEncontrado.nacionalidad}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-dark">DNI</th>
                                                <td th:text="${pacienteEncontrado.dni}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-dark">Domicilio</th>
                                                <td
                                                    th:text="${pacienteEncontrado.domicilio.calle + ', ' + pacienteEncontrado.domicilio.nroCalle + ', ' + pacienteEncontrado.domicilio.barrio + ', ' + pacienteEncontrado.domicilio.localidad}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <input type="button" id="siguiente" value="Siguiente" onclick="nextTab('#imagenes')" class="btn btn-primary" />
                    </div>
                    </div>
                    <div class="tab-pane" id="imagenes" role="tabpanel" tabindex="0">
                    
                        <div class="text-center mt-3">
                            <input type="button" id="siguiente" value="Siguiente" onclick="nextTab('#informacionFamiliar')" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="tab-pane" id="informacionFamiliar" role="tabpanel" tabindex="0">
                        
                        <div class="text-center mt-3">
                            <input type="button" id="siguiente" value="Siguiente" onclick="nextTab('#saludPaciente')" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="tab-pane" id="saludPaciente" role="tabpanel" tabindex="0">

                        <div class="text-center mt-3">
                            <input type="button" id="siguiente" value="Siguiente" onclick="nextTab('#tabOdontograma')" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="tab-pane" id="tabOdontograma" role="tabpanel" tabindex="0">

                    </div>
                </div>
            </main>
        </div>
    </div>
    <script th:src="@{/js/declaracion-jurada.js}"></script>
</body>

</html>