<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Layout/layout :: head}"></head>
<body>

    <header th:replace="~{Layout/layout :: header}"></header>

    <div class="table-container p-4">
    
    <table class="table table-bordered table-striped" th:if="${not listadoPacientes.isEmpty()}">
       
        <thead>
            <tr>
                <td colspan="6" class="title-table text-center p-4" th:text="${titulo}">
                </td>
            </tr>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Cel</th>
                <th>Fecha de Nacimiento</th>
                <th>Nacionalidad</th>
                <th>DNI</th>
            </tr>
        </thead>
        
        <tbody class="table-light">
            
            <!-- Itera sobre la lista de pacientes con edades -->
        <tr th:each="pacientesData : ${listadoPacientes}">
            <td th:text="${pacientesData['paciente'].Apellido}"></td>
            <td th:text="${pacientesData['paciente'].Nombre}"></td>
            <td th:text="${pacientesData['edad']}"></td>
            <td th:text="${pacientesData['paciente'].Telefono}"></td>
            <td th:text="${#temporals.format(pacientesData['paciente'].fechaNacimiento, 'yyyy-MM-dd')}"></td>
            <td th:text="${pacientesData['paciente'].nacionalidad}"></td>
            <td th:text="${pacientesData['paciente'].dni}"></td>
            
            
        </tr>

        </tbody>

    </table>

</div>
</body>
</html>